# Machine-specific ssh hosts
# Copy this file to ~/.ssh/config.local and fill in values for the current machine.

Host *.pgn.sh
  ProxyCommand /opt/homebrew/bin/cloudflared access ssh --loglevel debug --hostname %h

Host github.com
  IdentityFile ~/.ssh/id_paragon
  IdentitiesOnly yes

Host personalgit
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_ed25519
  IdentitiesOnly yes

